@using IT.WebHost.Components.Forms
@using IT.WebServices.Fragments.Comment
@using IT.WebServices.Authentication
@namespace IT.WebHost.Components.Comments
@inject CommentInterface.CommentInterfaceClient CommentClient
@inject ONUserHelper UserHelper

<BbItem>
    <BbItemMedia>
        <BbAvatar>
            <BbAvatarFallback>AB</BbAvatarFallback>
        </BbAvatar>
    </BbItemMedia>
    <BbItemContent>
        <BbItemTitle>@Comment.UserDisplayName</BbItemTitle>
        <BbItemDescription>@Comment.CommentText</BbItemDescription>
    </BbItemContent>
    <BbItemActions>
        <BbButton Variant="@(_liked ? ButtonVariant.Default : ButtonVariant.Outline)"
                  Size="ButtonSize.Small"
                  Disabled="@(!UserHelper.IsLoggedIn)"
                  @onclick="ToggleLike">
            <LucideIcon Name="heart" Size="14" class="@(_liked ? "fill-current" : "")" />
            @_likeCount
        </BbButton>
        <NewCommentForCommentForm CommentId="@Comment.CommentID" />
    </BbItemActions>
</BbItem>

<Collapsible>
    <CollapsibleTrigger>
        <BbButton Variant="ButtonVariant.Ghost" Size="ButtonSize.Small" @onclick="OnTriggerClicked">
            <LucideIcon Name="message-circle" Size="14" />
            Replies
        </BbButton>
    </CollapsibleTrigger>
    <CollapsibleContent>
        @if (_replies.Any())
        {
            <div class="ml-8 flex flex-col divide-y">
                @foreach (var reply in _replies)
                {
                    <CommentItem Comment="reply" />
                }
            </div>
        }
    </CollapsibleContent>
</Collapsible>

@code {
    [Parameter] public CommentResponseRecord Comment { get; set; }

    private bool _liked;
    private uint _likeCount;
    private bool _repliesLoaded;
    private IEnumerable<CommentResponseRecord> _replies = new List<CommentResponseRecord>();

    protected override void OnParametersSet()
    {
        _liked = Comment.LikedByUser;
        _likeCount = Comment.Likes;
    }

    private async Task OnTriggerClicked()
    {
        if (_repliesLoaded) return;

        var res = await CommentClient.GetCommentsForCommentAsync(new GetCommentsForCommentRequest
        {
            ParentCommentID = Comment.CommentID,
            PageSize = 10,
            Order = CommentOrder.Newest
        }, UserHelper.GetGrpcCallOptions());

        _replies = res.Records;
        _repliesLoaded = true;
    }

    private async Task ToggleLike()
    {
        if (!UserHelper.IsLoggedIn) return;

        _liked = !_liked;
        _likeCount = _liked ? _likeCount + 1 : _likeCount - 1;

        if (_liked)
            await CommentClient.LikeCommentAsync(new LikeCommentRequest { CommentID = Comment.CommentID }, UserHelper.GetGrpcCallOptions());
        else
            await CommentClient.UnLikeCommentAsync(new UnLikeCommentRequest { CommentID = Comment.CommentID }, UserHelper.GetGrpcCallOptions());
    }
}
