@model IT.WebHost.Core.Models.ViewContentViewModel
@using IT.WebServices.Fragments.Content

<div class="max-w-5xl mx-auto flex flex-col gap-4">
    @switch (Model.Record?.Data?.ContentDataOneofCase)
    {
        case ContentPublicData.ContentDataOneofOneofCase.Video:
            <component type="typeof(IT.WebHost.Components.Content.VideoPlayer)"
                       render-mode="Server"
                       param-Video="@Model.Record.Data.Video"
                       param-Title="@(Model.Record.Data.Title ?? "Video")" />
            <component type="typeof(IT.WebHost.Components.Content.VideoMetadata)"
                       render-mode="ServerPrerendered"
                       param-Content="@Model.Record" />
            break;

        case ContentPublicData.ContentDataOneofOneofCase.Written:
            <component type="typeof(IT.WebHost.Components.Content.WrittenMetadata)"
                       render-mode="ServerPrerendered"
                       param-Content="@Model.Record" />
            @if (!string.IsNullOrEmpty(Model.Record.Data?.FeaturedImageAssetID))
            {
                <component type="typeof(IT.WebHost.Components.Content.FeaturedImage)"
                           render-mode="Server"
                           param-AssetId="@Model.Record.Data.FeaturedImageAssetID"
                           param-Alt="@(Model.Record.Data.Title ?? "Featured image")" />
            }
            <component type="typeof(IT.WebHost.Components.Content.WrittenBody)"
                       render-mode="ServerPrerendered"
                       param-Written="@Model.Record.Data.Written" />
            break;

        @* case ContentPublicData.ContentDataOneofOneofCase.Audio: *@
            @* TODO: Audio content layout *@
            @* break; *@

        @* case ContentPublicData.ContentDataOneofOneofCase.Picture: *@
            @* TODO: Picture content layout *@
            @* break; *@
    }

    <component type="typeof(IT.WebHost.Components.Comments.CommentSection)"
               render-mode="Server"
               param-ContentId="@Model.Record.ContentID"/>
</div>
