@model IT.WebHost.Core.Models.MerchViewModel


<div class="container py-10">
    <component type="typeof(IT.WebHost.Components.Merch.MerchGridView)"
        render-mode="ServerPrerendered"
        param-Merch="@Model.Records"/>
    <component type="typeof(IT.WebHost.Components.Forms.Fields.Pagination)"
        render-mode="Server"
        param-PageOffset="@Model.PageOffsetParsed"
        param-PageSize="@Model.PageSizeParsed"
        param-PageTotalItems="@Model.PageTotalItems"
        param-BaseUrl="@Model.BaseMerchUrl"
        />
 </div>