@model IT.WebHost.App.Models.HomeViewModel

<div class="container py-10">
    <component type="typeof(IT.WebHost.Components.Content.ContentFeed)" render-mode="ServerPrerendered"
               param-InitialContent="@Model.ContentListRecords"
               param-Layout="@Model.Layout"
               param-NextPageOffset="@Model.NextPageOffset"
               param-PageSize="@Model.PageSize"
               param-TotalItems="@Model.TotalItems" />
</div>
